[submodule "app/Plugin/Layout"]
	path = app/Plugin/Layout
	url = git@github.com:jamiebclark/Layout.git
[submodule "app/Plugin/TwitterBootstrap"]
	path = app/Plugin/TwitterBootstrap
	url = git@github.com:jamiebclark/TwitterBootstrap.git
