// Colors
$brand-primary: $orange-dark;

// Fonts
$acumin-pro:			'acumin-pro';
$acumin-pro-condensed:	'acumin-pro-condensed';

$font-family-base:		$acumin-pro;
$headings-font-family:	$acumin-pro-condensed;
$headings-font-weight: 	600;
$text-color:			#666;
