@import "../utilities/index";

.podcast-episode-podcast-heading {
	&-title {
		margin: 0;
	}
}
.podcast-episode-view {
	&-heading {
		&-banner {
			display: block;
			max-width: 100%;	
			margin-bottom: $line-height-computed / 2;
		}
	}
	&-body {
		font-size: $font-size-large;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}