@import "../utilities/index";

$podcast-thumbnail-width: 240px;
$podcast-thumbnail-padding: $line-height-computed;

.podcast-view {
	position: relative;
	text-align: center;

	padding-top: $podcast-thumbnail-width - $podcast-thumbnail-padding;

	&-bg {
		bottom: 0;
		left: 0;
		opacity: .10;
		position: fixed;
		right: 0;
		top: 0;
		> img {
			height: 100%;
			margin-left: 50%;
			transform: translateX(-50%);
			min-width: 100%;
			min-height: 100%;
		}

		&-wrap {
			position: relative;
			z-index: 1;
		}
	}
	&-thumbnail {
		width: $podcast-thumbnail-width;
		margin-top: -#{$podcast-thumbnail-width - $podcast-thumbnail-padding};
	}
	&-heading {
		&-banner {
			position: relative;
			margin-bottom: $line-height-computed;

			&-img {
				width: 100%;
			}
			&-title {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				padding: $padding-large-vertical $padding-large-horizontal;
				background-color: rgba(#000, .5);
				color: white !important;
			}
		}
		.share-link-list {
			text-align: center;
			margin-top: $line-height-computed;
			margin-bottom: $line-height-computed;
		}
	}
	&-title {
		margin-top: 0;
	}
	&-subtitle {
		margin: 0;
		font-size: $font-size-large;
		font-weight: normal;
	}
	&-description {
		font-size: $font-size-large;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
}
