@import "../utilities/index";
@import "podcast-view";

//$podcast-view-buttons

.podcast-episode-podcast-heading {
	&-title {
		margin: 0;
	}
}
.podcast-episode-view {
	font-size: $font-size-large;
	text-align: center;
	&-banner {
		display: block;
		margin-bottom: $line-height-computed / 2;
		margin-top: -$line-height-computed;
		max-width: 100%;	
	}
	&-body {
		padding: $padding-large-vertical $padding-large-horizontal;
		font-size: $font-size-large;
		line-height: $line-height-large;
		margin-top: $line-height-computed;
		margin-bottom: $line-height-computed * 2;
	}
	&-date {
		text-align: center;
	}

	header {
		margin-bottom: $line-height-computed;
		h1, h2, h3 {
			margin: 0;
		}
	}

	article {
		background-color: #FFF;
		padding: $padding-large-vertical $padding-large-horizontal;
	}
	section {
		display: block;
		margin: 0 auto;
		max-width: $screen-sm-min;
		text-align: left;
	}

	&-header {
		&-podcast-title {
			margin-bottom: 0;
		}
	}
}

