@import "../utilities/index";

.podcast-view {
	&-heading-banner {
		position: relative;
		&-img {
			width: 100%;
		}
		&-title {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: $padding-large-vertical $padding-large-horizontal;
			background-color: rgba(#000, .5);
			color: white !important;
		}
	}
	&-subtitle {
		margin: 0;
		font-size: $font-size-large;
		font-weight: normal;
	}
}
