@import "../utilities/index";
.user-view {
	&-heading {
		&-banner {
			width: 100%;
		}
	}
	&-about {
		font-size: $font-size-large;
		line-height: $line-height-large;
		text-align: justify;
		margin-bottom: $line-height-computed;
	}
	section {
		text-align: center;
		margin-bottom: $line-height-computed;
	}
}