$footer-color: $yellow;

#footer {
	margin-top: 8 * $line-height-computed;
	background-color: $orange;
	color: $footer-color;
	min-height: 600px;
	text-align: center;

	font-family: $headings-font-family;
	font-size: $font-size-large;
}

.layout-footer{
	&-nav {
		&, & > li {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: inline-block;
		}
		> li > a {
			display: block;
			padding: $padding-base-vertical $padding-base-horizontal;
			font-family: $headings-font-family;
			font-size: $font-size-h3;
			font-weight: bold;
		}
	}
	&-social {
		display: block;
		text-align: center;
		> a {
			display: inline-block;
			font-size: 40px;
			color: $footer-color;
			padding: $padding-large-vertical $padding-large-horizontal;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}

#media-player {
	position: fixed;
	background: #FFF;
	left: 0;
	right: 0;
	bottom: 0;
	color: $text-color;
}

#admin-footer {
	position: relative;
	z-index: 1;
}