
#footer {
	margin-top: 8 * $line-height-computed;
	background-color: $orange;
	color: white;
	min-height: 600px;
	text-align: center;
}

.layout-footer{
	&-nav {
		&, & > li {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: inline-block;
		}
		> li > a {
			display: block;
			padding: $padding-base-vertical $padding-base-horizontal;
		}
	}
	&-social {
		display: block;
		text-align: center;
		> a {
			display: inline-block;
			font-size: 40px;
			color: white;
			padding: $padding-large-vertical $padding-large-horizontal;
			&:hover {
				color: $link-hover-color;
			}
		}
	}
}