.form-group.required {
	> label {
		&:after {
			content: '*';
			font-weight: bold;
			color: red;
			margin-left: 5px;
		}
	}
}

.form-group.form-group-copy {
	.form-control {
		background-color: $gray-lighter;
		font-style: italic;
		&:hover {
			cursor: pointer;
		}
	}
}

fieldset {
	margin-bottom: $line-height-computed;
	
}