@import "typekit";
@import "form";


@mixin heading-size-scale($min-width, $h1: 1, $h2: 1, $h3: 1, $h4: 1, $h5: 1, $h6: 1) {
	@media screen and (min-width: $min-width) {
		h1 {
			font-size: $font-size-h1 * $h1;
		}
		h2 {
			font-size: $font-size-h2 * $h2;
		}
		h3 {
			font-size: $font-size-h3 * $h3;
		}
		h4 {
			font-size: $font-size-h4 * $h4;
		}
		h5 {
			font-size: $font-size-h5 * $h5;
		}
		h6 {
			font-size: $font-size-h6 * $h6;
		}
	}
}

$heading-multiplier-md: 1.25;
$heading-multiplier-lg: 1.75;
@include heading-size-scale($screen-md-min, $heading-multiplier-md, $heading-multiplier-md, $heading-multiplier-md, $heading-multiplier-md, $heading-multiplier-md, $heading-multiplier-md);
@include heading-size-scale($screen-lg-min, $heading-multiplier-lg, $heading-multiplier-lg, $heading-multiplier-lg, $heading-multiplier-lg, $heading-multiplier-lg, $heading-multiplier-lg);

h1, h2, h3, h4, h5 {
	&.page-title {
		text-align: center;
		border-bottom: 1px solid $gray-lighter;
		padding-bottom: $line-height-computed / 2;
		margin-bottom: $line-height-computed / 2;
	}
}
