.podcast-episode-title {
	&-podcast-title {
		color: #CCC;
		margin-right: 5px;
		&:after {
			content: ':';
		}
	}
}

.podcast-episode-media-description {
	font-size: $font-size-small;
	line-height: 1;
	color: #CCC;
}


.podcast-episode-media-list {
	> .media {
		margin: 10px;
		padding: $padding-large-vertical $padding-large-horizontal;
		background-color: #F8F8F8;
	}
}